<% if email.read%>
  <li id="button-read"><%=link_to "Non lu", email_path(email.id), method: "PATCH", class: "btn btn-secondary", remote: true %></li>
<%else%>
  <li id="button-read"><%=link_to "Lu", email_path(email.id), method: "PATCH", class: "btn btn-secondary", remote: true %></li>
<%end%>
